# .gitignore

# Ignore Terraform .tfstate files and .tfstate backups
*.tfstate
*.tfstate.* 

# Ignore override files as they are usually used for local settings
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore all files which might contain secret information
secret.tfvars
*.auto.tfvars

# Ignore all local .terraform directories
**/.terraform/*

# Ignore any .env files
.env

# Ignore MacOS system files
.DS_Store

# Ignore log files
*.log

# Ignore vendor directory
vendor/
